<%= form_for(@business) do |f| %>
  <% if @business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% @business.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <br />
  <table border="0">
    <tr>
    <td><%= f.label :user_id %>:</td>
    <td><%= f.text_field :user_id %></td>
    </tr>
    <tr>
    <td>Business Title:</td>
    <td><%= f.text_field :title %></td>
    </tr>
    <tr>
    </tr>
    <tr>
    <td><%= f.label :funding_target %>:</td>
    <td><%= f.text_field :funding_target %></td>
    </tr>
    
  </table>
  <br />
  <%= f.label :description %>:<br />
  <%= f.text_area :description,  :cols => 38, :rows => 10%>
    
    
  <div class="field">
    <%= f.label :attachment_url %><br />
    <%= f.text_field :attachment_url %>
  </div>
  <div class="field">
    <%= f.label :votes %><br />
    <%= f.text_field :votes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
