<p id="notice"><%= notice %></p>


<h1><%= @business.title %></h1>
<br />
<div id="video_box">
  <iframe title="YouTube video player" width="480" height="390" src="http://www.youtube.com/embed/<%= @business.video_url %>" frameborder="0" allowfullscreen></iframe>
</div>

<div id="business_info_box">
  <span style="font-weight:bold; font-size:15px;">Funding Target:</span> <%= @business.funding_target %>
  <br />
  <br />
  <%= @business.description %>
</div>

<br />
<br />
<div id="business_description">

<p>
  <b>user:</b>
  <%= @business.user_id %>
</p>



<p>
  <b>Description:</b>
  
</p>

<p>
  <b>Video url:</b>
  
</p>

<p>
  <b>Photo url:</b>
  <%= @business.photo_url %>
</p>

<p>
  <b>Funding target:</b>
  
</p>

<p>
  <b>Attachment url:</b>
  <%= @business.attachment_url %>
</p>

<p>
  <b>Votes:</b>
  <%= @business.votes %>
</p>
</div>


<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
