<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :pic_url %><br />
    <%= f.text_field :pic_url %>
  </div>
  <div class="field">
    <%= f.label :free_money %><br />
    <%= f.text_field :free_money %>
  </div>
  <div class="field">
    <%= f.label :invested_money %><br />
    <%= f.text_field :invested_money %>
  </div>
  <div class="field">
    <%= f.label :analytics_url %><br />
    <%= f.text_field :analytics_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
