<p id="notice"><%= notice %></p>

<p>
  <h1>Analytics</h1><br />
  <%= @user.name %>
</p>

<p>
  <img src="<%= @user.pic_url %>" width=100px height=100px>
</p>

<p>
  <b>Free money:</b>
  <%= @user.free_money %>
</p>

<p>
  <b>Invested money:</b>
  <%= @user.invested_money %>
</p>

<p>
  <b>Analytics url:</b>
  <%= @user.analytics_url %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
